<section class="pt-6 pb-7" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">The Covid-19 Hub.</h2>
                    <p class="text-muted lead">News and mainstream media are blind folded and biased
                            <br>
                            Know your Facts Right
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row feature-boxes">
                        <div class="col-md-6 box">
                            <div class="icon-box box-primary">
                                <div class="icon-box-inner">
                                    <span data-feather="edit-3" width="35" height="35"></span>
                                </div>
                            </div>
                            <h4>Sign up, It's Free</h4>
                            <p class="text-muted">The Covid-19 Hub application provides you with precise information
                                    that you need to know about the prevailing pandamic. Click the Login/Sign up button to know more
                            </p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-success">
                                <div class="icon-box-inner">
                                    <span data-feather="monitor" width="35" height="35"></span>
                                </div>
                            </div><br>
                            <h4>Informatica, Precisa</h4>
                            <p class="text-muted">Get exclusive access to real time information on everything you need to know about the prevailing pandamic</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-danger">
                                <div class="icon-box-inner">
                                    <span data-feather="layout" width="35" height="35"></span>
                                </div>
                            </div><br>
                            <h4>The i-bot persona</h4>
                            <p class="text-muted">Chat with our very own i-bot to fetch answers to all your questions about the prevailing pandamic.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-info">
                                <div class="icon-box-inner">
                                    <span data-feather="globe" width="35" height="35"></span>
                                </div>
                            </div><br>
                            <h4>The COVID-19 Detection Tool</h4>
                            <p class="text-muted">Fill up the very few questions we'd like you to ask to know the chances of YOU getting affected by COVID - 19</p>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>